<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Server=.;Database=DVLD;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ProjectName" value="DVLD_Project" />
		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SenderEmail" value="your-email@gmail.com" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>